* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

/* MAIN TAG */
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-name {
	margin-left: 10px;
}

.background-hero {
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('./assets/img/438394.jpg');
}

.hero-description--grid {
	display: grid;
	place-content: center;
	text-align: center;
	font-size: 48px;
}

/* animaciono de aguatech */

.Aqua {
	font-size: 60px;
	position: absolute;
	left: 0;
	right: 0;
	top: 30%;
}

.tech {
	-webkit-text-stroke: black 1px;
}

.border .tech {
	color: white;
}
.border {
	color: black;
	text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.wave {
	color: #09f;
	animation: wave 3s ease-in-out infinite;
}

@keyframes wave {

	0%,
	100% {
		clip-path: polygon(0% 47%,
				10% 48%,
				33% 54%,
				54% 60%,
				70% 61%,
				84% 59%,
				100% 52%,
				100% 100%,
				0% 100%);
	}

	50% {
		clip-path: polygon(0% 60%,
				15% 65%,
				34% 66%,
				51% 62%,
				67% 50%,
				84% 45%,
				100% 46%,
				100% 100%,
				0% 100%);
	}
}

/* animaciono de aguatech */


.product-section,
.client-section {
	background-color: #EEEEEE;
	padding: 50px 0;
}

.product-figure {
	width: 100%;
	max-width: 215px;
}

.figure-img {
	width: inherit;
}

.client {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.product,
.client {
	margin: 50px 0;
}

.client-name {
	margin: 5px;
}

.client-figure {
	height: 100px;
	width: 100px;
}

.client-figure img {
	border-radius: 50%;
}

.product {
	display: grid;
	place-items: center;
	text-align: center;
}

.product:last-child {
	margin-bottom: 0;
}

h3 {
	text-align: center;
}



.hero-subtitle {
	font-size: 25px;
	font-weight: 500;
}

/* MORE ABOUT US SECTION */

/* boton */
.btn {
	display: block;
	height: 60px;
	width: 180px;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	font-weight: 700;
	cursor: pointer;
	background-color: transparent;
	margin-top: 25px;
	display: grid;
	place-content: center;
}

.btn:hover,
.btn:focus {
	color: #fff;
	outline: 0;
}

.first {
	border: 2px solid #e74c3c;
	border-radius: 8px;
	color: #e74c3c;
	transition: box-shadow 400ms ease-in-out, color 300ms ease-in-out;
}

.first:hover {
	box-shadow: 0 0 40px 40px #e74c3c inset;
}

.about-section {
	padding: 50px 0;
}

.about-figure {
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
}

.about-info {
	margin-top: 25px;
	display: grid;
	place-items: center;
}

.form-section {
	padding: 50px 0;
}

.input {
	width: 100%;
	height: 45px;
	margin-bottom: 25px;
}

.textarea {
	width: 100%;
}

.btn-input {
	margin: 25px auto;
	border: 2px solid green;
	border-radius: 8px;
}

.btn-input:hover {
	transition: box-shadow 400ms ease-in-out, color 300ms ease-in-out;
	box-shadow: 0 0 40px 40px green inset;
}

/* TABLET */
@media screen and (min-width: 660px) {
	.Aqua {
		font-size: 100px;
	}

	.hero-subtitle{
		margin-top: 50px;
	}

	.tech {
		-webkit-text-stroke: 2px black;
	}

	.product-section {
		display: grid;
		grid-template-columns: 1fr 2fr;
		place-items: center;
		gap: 25px;
	}

	.products-list {
		display: flex;
		gap: 25px;
	}

	.product {
		margin: 0;
	}

	.clients-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.client {
		margin-right: 15px;
	}

	.about-section {
		display: flex;
		gap: 25px;
	}

	.about-info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 25px;
	}

	.about-info,
	.btn {
		margin: 0;
	}

	.form-section {
		padding: 25px 50px;
	}

	.reply-form {
		margin-top: 20px;
	}
}

/* MONITOR PC */
@media screen and (min-width: 1000px) {
	.background-hero {
		height: 92vh;
	}

	.product-section {
		padding: 50px;
	}


	.product {
		margin: 0;
	}

	.about-section,
	.client-section,
	.form-section {
		padding: 50px 100px;
	}

}