body {
  margin: 0 0;
}

.confirmPayment_Center {
  margin: 0 auto;
}

.confirmPayment_Header {
  background-color: rgb(3, 3, 160);
  color: white;
  margin: 0 0 !important;
  padding: 0.5vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.confirmPayment_Header_h1 {
  margin-left: 2vw;
  padding-left: 0.5vw;
}

.confirmPayment_Container {
  margin: 0 auto;
  padding: 2rem;
  border-top: 1px rgb(3, 3, 160) solid;
}

.confirmPayment_Info {
  background: rgba(119, 119, 119, 0.26);
  padding: 1rem;
  font-size: 1.1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 3rem;
}

.confirmPayment_Container table {
  border: 2px rgb(3, 3, 160) solid;
  border-radius: 5px;
  border-collapse: collapse;
}

.confirmPayment_Container table thead {
  background-color: rgb(3, 3, 160);
  border: 1px rgb(3, 3, 160) solid;
  color: white;
}

.confirmPayment_Container table thead tr {
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.confirmPayment_Container table thead tr th {
  padding: 15px;
}

.confirmPayment_Container table tbody tr td {
  padding: 15px;
  font-size: 1.1rem;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.confirmPayment_Container table tbody tr:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.233);
}

/* The Modal (background) */
.modal {
  border-radius: 5px;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  background-color: rgb(3, 3, 160);
  color: white;
  padding: 2px 16px;
}

.modal-header h2 {
  margin-left: 2vw;
}
.modal-body {
  padding: 2px 16px;
  display: flex;
  flex-wrap: wrap;
}

.modal-body div{
	min-width: 30%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}

.modal-footer {
	text-align: end;
  padding: 2px 16px;
  color: white;
}

.modal-footer button{
	border: none;
	font-size: 1.3rem;
	color: white;
	padding: 0.3rem;
	margin: 0.5rem;
}

.confirmPayment_Button_Cancelar{
	background-color: rgb(204, 7, 7);
}
.confirmPayment_Button_Validar{
	background-color: rgb(26, 131, 26);
}
.confirmPayment_Button_Cerrar{
	background-color: rgb(104, 94, 94);
}