body{
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
    margin: 25px 0;
}

img {
    height: 45px;
}

.mainContact {
    margin: 50px;
}

.mainContact__content--grid {
    display: grid;
    place-items: center;
    gap: 25px;
}

.contactInfo__socialmedia--flex {
    display: flex;
    align-items: center;
}

.contactInfo__socialmedia--flex div,
.contactInfo__socialmedia--flex a {
    margin-left: 15px;
}

.contactInfo__socialmedia--flex div p {
    display: inline-block;
}

.contactInfo__socialmedia--flex a {
    font-size: 25px;
}

.contact__description {
    margin: 25px 0;
}

@media screen and (min-width : 768px) {
    .mainContact__content--grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}